a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
svg {
    color: black;
    text-decoration: none;
}
.git_link{
    text-align: center;
    font-size:large;
}